
/* common class */
.h1
{
    font-size: 2.6rem;
}
p
{
    font-size: 1.2rem;
}
/* navigation */

/* home / order */

/* service  */
#service
{
    margin-top: -61px;
}
.box
{
    width: 360px;
    height: 367px;
}


/* client */

/* contact us */

/* fotter */


